body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 2em 0;
    text-align: center;
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #ddd !important;
}

.section {
    padding: 2em 0;
}

.section h2 {
    margin-bottom: 1em;
}

.section p {
    margin-bottom: 1em;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1em;
}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-weight: bold;
}

.card-body ul {
    padding-left: 1em;
}

.card-body ul li {
    margin-bottom: 0.5em;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-top: 0.5em;
}

form input, form textarea {
    padding: 0.5em;
    margin-top: 0.5em;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 500px;
}

form button {
    margin-top: 1em;
    padding: 0.5em 2em;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 2s ease-in;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.5em;
    }

    .header {
        padding: 2em 1em;
    }

    .container {
        padding: 1em;
    }
}

.carousel-inner img {
    border-radius: 8px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    border-radius: 8px;
}

#contact {
    background: linear-gradient(to right, #1e3c72 0%, #2a5298 50%, #1e3c72 100%); /* Gradiente de azul */
    color: white;
}

#contact h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

#contact p {
    font-size: 1.2em;
}

#contact .form-control {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    color: white;
}

#contact .form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

#contact .form-control:focus {
    background: rgba(255, 255, 255, 0.2);
    border-color: #fff;
    box-shadow: none;
    color: white;
}

#contact .btn-primary {
    background-color: #2a5298; /* Azul */
    border-color: #2a5298;
}

#contact .btn-primary:hover {
    background-color: #1e3c72; /* Azul más oscuro */
    border-color: #1e3c72;
}


